<mat-card>
    <mat-toolbar>Lista de curriculos</mat-toolbar>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" (click)="selectItem($event)">

        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="webSite">
            <th mat-header-cell *matHeaderCellDef> Site </th>
            <td mat-cell *matCellDef="let element"> {{element.webSite}} </td>
        </ng-container>

        <ng-container matColumnDef="experience">
            <th mat-header-cell *matHeaderCellDef> Experiência profissional </th>
            <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
    </div>
</mat-card>

<div class="button-container">
    <button mat-fab extended color="primary" (click)="createItem()">Acessar cadastro </button>  
</div>