<div class="center-container">
  <mat-card class="card-curriculum">
    <mat-card-header>
      <mat-card-title>{{ curriculum.name }}</mat-card-title>
      <mat-card-subtitle>{{ curriculum.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="curriculum.phoneNumber">Telefone: {{ curriculum.phoneNumber }}</p>
      <p *ngIf="curriculum.webSite">Website: {{ curriculum.webSite }}</p>
      <p>Experiência: {{ curriculum.experience }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab extended color="primary" (click)="onClick()">Voltar à lista</button>
    </mat-card-actions>
  </mat-card>
</div>
